
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}


.calculator {
    border: 1px solid #717377b6;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    background: linear-gradient(45deg, #0a0a0a, #3a445209);
    transition: all 1s ease-in-out;
}

.calculator.light {
    background: #ffffff;
}

.icons {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

#mode {
    cursor: pointer;
    color: yellow;
    transition: transform 0.5s ease-in-out;
}

#mode:hover {
  transform: rotate(180deg);
}

.icons.light #mode {
    color: #111111;
}

.icons.light {
    color:#111111;
}

.inputBox {
    width: 285px;
    height: 100px;
    border: none;
    border-radius: 1rem;
    background: #3d4b6050;
    color: #ffffff;
    text-align: right;
    margin-top: 1.2rem;
    margin-bottom: 1.3rem;
    padding-right: 1rem;
    font-size: 3.1rem;
    box-shadow: inset 2px 2px 10px rgba(113, 115, 119, 0.5);
    transition: all 1s ease-in-out;
}

.inputBox.light {
    box-shadow: inset 3px 3px 15px rgba(113, 115, 119, 0.899);
    color: #111111;
    background: transparent;
}

.inputBox::placeholder{
    color: #ffffff;
}

.inputBox.light::placeholder {
    color: #111111;
}

.button{
    height: 60px;
    width: 60px;
    border: none;
    margin: 4px;
    color: #ffffff;
    background-color: #111111;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
                4px 4px 15px rgba(0, 0, 0, 0.3);
}

.button.light-shadow   {
    box-shadow: -10px -8px 15px rgba(113, 115, 119, 0.923);
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button:active {
    background: rgba(100, 108, 117, 0.901);
}

.equalBtn{
    background-color: #fb7c14;
}

.equalBtn:hover {
    background-color: #de8c4a;
}

.operator {
   color: rgba(80, 168, 255, 0.901);
}

.operator.light {
   color: #6dee0a;
}

